.me {
	img {
		width: 144px;
		float: left;
		margin-right: 20px;
		margin-top: -10px;
		margin-left: -45px;
		border: 4px solid #EFEFEF;
	}

	h2{
		color: $primary-color;
		margin-top: 0px;
		font-size: 18px;
	}
	.me-passion {
		margin-left: 120px;
		font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	}

	.me-name {
		margin-bottom: 5px;
	}

	.me-summary {
		float:left;
		margin-top: 20px;
		margin-left: 55px;
	}

	.me-title {
		margin-bottom: 5px;
		text-transform: uppercase;
	}
}
.table.profile-table {
	max-width: 345px;
	margin-left: 20px;
	font-size: 14px;
	>tbody>tr>td{
		border: 0;
	}
}

address.profile-address{
	margin-bottom: 0;
}