.me {
	img {
		width: 144px;
		float: left;
		margin-right: 20px;
		margin-top: -15px;
	}

	h2{
		color: $primary-color;
		margin-top: 0px;
		font-size: 18px;
	}

	.me-name {
		margin-bottom: 5px;
	}
}
.table.profile-table {
	margin-left: 20px;
	font-size: 12px;
	>tbody>tr>td{
		border: 0;
	}
}

address.profile-address{
	margin-bottom: 0;
}